################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

# macOS system files
.DS_Store
Icon?
Icon[r]

# vs system files
.vs/
*.vsidx