################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

# macOS system files
.DS_Store
Icon?
Icon[r]

# vs system files
.vs/
*.vsidx

# 임시 파일 및 캐시
.obj/
[Bb]in/
[Oo]bj/
*.suo
*.user
*.userosscache
*.sln.docstates

# 빌드 결과물 및 로그
*.exe
*.dll
*.pdb
*.log